/* --- HEADER ---> */

header {
  height: auto;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  position: relative;
  background-color: var(--dark-bg-color);
}

h1.uselessHeading {
  color: var(--light-text-color);
}

/* Kurvaturen på "Header" */

header:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1rem;
  width: 100%;
  background-color: white;
  border-top-left-radius: 50% 100%;
  user-select: none;
}

/* <--- --- */

/* --- MAIN ---> */

main {
  width: 100%;
  height: auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Behållarna händelserna utgår från. */

#action-container-primary,
#action-container-secondary {
  height: fit-content;
  max-height: 25%;
  width: auto;
  max-width: 50%;
  padding: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Behållarna för rivmärkes-svg:n */

.clawContainer {
  width: 20%;
  height: auto;
}

/* Bildattribut */

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* <--- --- */

/* --- FOOTER ---> */

footer {
  height: 2rem;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: var(--dark_bg-color);
  position: relative;
  bottom: 0;
}

/* Kurvaturen på "Footer" */

footer:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 100%;
  background-color: white;
  border-top-left-radius: 50% 100%;
  user-select: none;
}

/* --- OTHER useless stuff ---> */

/* Klass för att gömma element */

.hidden {
  visibility: hidden;
}

.opacity {
  opacity: 0;
}

/**/

.positionAbsolute {
  position: absolute;
}

.turnDemonRed {
  color: var(--demon-red);
  fill: var(--demon-red);
  transition-property: fill, color;
  transition: ease 2s;
}

.bgTurnDemonRed {
  background-color: var(--demon-red);
  transition-property: all;
  transition: ease 2s;
}

/* Elementet seglar ut från skärmen. */

.exitStageLeft {
  transition-duration: 2s;
  transform: translateX(-100vw);
}

/* Elmentet ligger utanför skärmen. */

.offScreen {
  position: fixed;
  transform: translateY(100vh);
  transition: 0.7s ease;
}

/* Elmentet som glider in på skärmen. */

.onScreen {
  transform: translateY(0);
}

.test {
  background-color: blue;
  width: 100px;
  height: 100px;
}
/* <--- --- */
